@import "../includes/main_layout"

section.layout
  width: 100vw
  display: flex
  margin-top: 16px
  align-items: center
  flex-direction: column

  header.user_header
    width: 90%
    flex-grow: 1
    display: flex
    margin-top: 16px

    .header_content
      width: 95%
      display: flex

      .user_info
        display: flex
        margin-left: 16px
        padding: 10px 16px
        .user_info_content
          display: flex
          flex-direction: column
