@import "includes/main_layout"

.layout
  width: 100vw
  display: flex 
  align-items: center
  flex-direction: column
  justify-content: center

.formContainer
  padding: 16px
  display: flex
  margin-top: 1em
  min-width: 35vw

.formButtons
  margin-top: 8px
  align-items: center
  justify-content: space-between

.link
  color: teal !important
