main.main
  display: flex
  align-items: center
  flex-direction: column

  nav.navbar
    width: 95%
    .nav_content
      height: 4em 
      display: flex 
      justify-content: space-between
      .logo
        display: flex
        cursor: pointer
        align-items: center
        img 
          height: 32px

  section.layout
    width: 100vw
    display: flex
    margin-top: 16px
    align-items: center
    flex-direction: column

    header.user_header
      width: 90%
      flex-grow: 1
      display: flex
      margin-top: 16px

      .header_content
        width: 95%
        display: flex

        .user_info
          display: flex
          margin-left: 16px
          padding: 10px 16px
          .user_info_content
            display: flex
            flex-direction: column
  section.searchResultsLayout
    width: 100vw
    height: calc(100vh - 9vh)
    margin-top: 16px
    display: flex
    justify-content: center
    overflow: auto
    .field
      color: #14a76c
    .name
      color: #ff652f
      font-weight: bold

    .resultNavigationContainer
      overflow: auto
      width: 30vw
      border: darken(#14a76c, 10%) solid 1px

  

    .overviewContainer
      height: calc(100vh - 9vh)
      width: 50vw
      padding: 0.8rem
      border: darken(#14a76c, 10%) solid 1px    
      overflow: auto
      .subscribe
        background-color: #ff652f !important  
      .headline
        display: flex
        justify-content: space-between
        width: 100%
        height: 18vh
        .info
          display: flex
          align-items: center
          .displayPhoto
            padding: 0rem 2rem 0 1rem
        .actions
          position: relative
          top: 2.5rem
          right: 1.5rem
      .overview
        padding: 2rem


