$primary: #14a76c
$secondary: #ff652f
$tertiary: #ffe400

@import "../includes/main_layout"

section.layout
  width: 100vw
  display: flex
  overflow: auto
  justify-content: center
  .field
    color: $primary
    font-size: 1.5em
  .name
    font-size: 1.5em
    color: $secondary
    font-weight: bold

  .users_sidebar
    min-width: 40%
    overflow: auto
    border: darken(#14a76c, 10%) solid 1px

    // ProfessionalDescription
    .description 
      cursor: pointer
      width: 100%
      display: flex
      padding: 0.2rem 0.8rem
      display: flex
      border: darken($primary, 10%) solid 1px
      justify-content: space-between
      align-items: center
      .userInfo
        display: flex
        width: 75%
        align-items: center
      .metrics
        width: 20%
        .rating
          display: flex
    .field
          color: $primary
    .name
      color: $secondary
      font-weight: bold

  .overview_content
    width: 50%
    padding: 1em
    border: darken(#14a76c, 10%) solid 1px    
    overflow: auto
    .subscribe
      background: #ff652f !important  

    .headline
      margin-top: 1em
      align-items: center
      justify-content: space-between

      .info
        display: flex
        align-items: center
        .displayPhoto
          padding: 0rem 2rem 0 1rem
      .actions
        margin-right: 1.5em
    .overview
      padding: 2rem
